
h2.bb-docs {
      padding: 0.4rem 3rem;
      margin: -0.1rem 0 0;
      border: solid 0.1rem #e8e8e8;
      color: #666;
      font-size: 1.8rem;
      font-weight: 300;
    }
form { margin: 1rem 1.5rem; }